* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 88px;
}

/* This is all Header Content */
.header {
  border: 2px solid black;
  top: 0;
  display: flex;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: white;
  justify-content: space-between;
}

.profile {
  border: 2px solid black;
  display: flex;
  align-items: center;
  padding: 5px;
}
.profile-pic {
  border: 2px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 5px;
}

.logo {
  border: 2px solid black;
  display: flex;
  align-items: center;
}
.navigation {
  border: 2px solid black;
  display: flex;
}

.nav-btn {
  all: unset;
  cursor: pointer;
  margin: 0 10px;
}

/* This is Body Content */

.content {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.content-box {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 25px;
}
.view-content {
  border: 1px solid black;
  height: 200px;
}

/*This will be for Profile Page */
.profile-page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.picture {
  border: 1px solid black;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 10px 0;
}

.profile-username {
  border: 1px solid black;
  display: flex;
  font-size: 35px;
  width: 100%;
  justify-content: center;
}

.profile-content {
  border: 1px solid black;
  font-size: 25px;
  width: 100%;
}

.profile-view {
  border: 0.5px solid black;
  height: 200px;
  width: 100%;
}

/* This will be for Login */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-box {
  border: 1px solid black;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.login-text {
  border: 1px solid black;
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.login-input {
  border: 1px solid black;
  padding: 10px;
}
.login-btn {
  display: block;
  margin: 20px auto;
  background-color: black;
  width: 100px;
  color: white;
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.login-btn:hover {
  background-color: white;
  color: black;
}
